.body {
  padding: 0;
  margin: auto;
}

.nav-bar {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav-bar-list {
  font-size: 30px;
  background: #d9d9d9;
  border: none;
  padding: 10px;
  width: 200px;
}

.all {
  background: #99ccff;
  color: white;
}

.image-gallery {
  margin: auto 30px 30px;
}

.mobile,
.camera,
.headphone,
.shoes,
.watch {
  padding: 5px;
  width: 350px;
  height: 350px;
}
